body {
  margin: 0;
  border: 5px solid black;
  height: 100vh;
  position: relative;
}

.one {
  width: 400px;
  height: 400px;
  background-color: red;
}

.two {
  position: fixed;
  bottom: 5px;
  right: 5px;
}

.three {
  position: absolute;
  top: -200px;
}

.four {
  position: fixed;
  top: 5px;
  left: 5px;
}
