body {
  margin: 0;
  border: 5px solid black;
  height: 100vh;
  position: relative;
}

.one {
  width: 400px;
  height: 400px;
  background-color: red;
}

.two,
.three,
.four {
  position: relative;
  top: 50px;
  left: 50px;
}
